body{
    font-family: 'Shantell Sans', cursive;
    margin: 0;

}
.flexible-container{
    display: flex;
    
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.color{
    color: brown;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
    border-radius: 15px 50px 30px 5px;
    margin-top:5% ;
}
.link-btn{
    text-decoration: none;
    font-weight: 900;
    background-image: linear-gradient(rgb(218, 221, 222), rgb(170, 7, 7));
    color: #fff;
    padding: 10px 18px;
    border-radius: 5px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;

}
.experience-item h2{
    font-size: 30px;
}
#full-web-dev{
    border-left: 7px solid gray;
}
#baby-web-dev{
    border-left: 7px solid brown;
}
footer p{
    text-align: center;
    font-weight: 800;
}